@import "~bootstrap/scss/bootstrap";

@import "./_partials/variables.scss";

@import "./_partials/header.scss";
@import "./_partials/footer.scss";
@import"./_partials/main-comics.scss";
@import "./_partials/det_comic.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
ul{
    margin-bottom: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}