@import "~bootstrap/scss/bootstrap";
@import "./_partials/variables.scss";

@import "./_partials/header.scss";
@import "./_partials/footer.scss";

ul{
    margin-bottom: 0;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}