footer {
    .container-footer-top {
        .top-footer {
            background-color: $primary-color;

            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                min-height: 155px;
                

                li {
                    padding: 15px;

                    &:hover {
                        border: 1px solid white;
                    }
                }

                a {
                    display: flex;
                    align-items: center;

                    h4{
                        font-size: 18px;
                        color:white;
                        margin: 0;
                    }
                    .img-container {
                        height: 70px;
                        width: 70px;
                        padding-right: 18px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;

                        }
                    }


                }
            }
        }
    }

    .main-footer {
        min-height: 370px;
        background-image: url(/resources/img/footer-bg.jpg);
        overflow: hidden;
        padding: 35px 0;

        .container {
            display: flex;
            position: relative;


            p {
                color: $secondary-text-color;
                font-size: 12px;
                padding-top: 15px;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex-wrap: wrap;
                padding-right: 20px;

                h3 {
                    color: white;
                    font-size: 20px;
                    font-stretch: condensed;
                    padding-bottom: 25px;
                    padding-right: 15px;
                    margin: 0
                }

                ul {
                    padding: 0;

                    a {
                        color: $secondary-text-color;
                        font-size: 12px;
                    }
                }
            }

            .logo {
                position: absolute;
                right: 100px;
                top: -100px
            }
        }
    }


    .bottom-footer {
        background-color: $secondary-color;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                background-color: $secondary-color;
                border: 2px solid $primary-color;
                padding: .9375rem;

                &:hover {
                    background-color: $primary-color;
                }

                a {
                    color: white;
                }
            }

            .contacts {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                h4 {
                    color: $primary-color;
                    margin-bottom: 0;

                }

                ul {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    img {
                        height: 2.1875rem;
                        margin: .3125rem;
                    }
                }
            }
        }
    }
}